defaults:
  - model/share@share
  - model/extractor@extractor
  - model/classification_head@classification_head
  - model/accuracy@metrics.train_acc
  - model/accuracy@metrics.val_acc
  - transform/finetune@transform
  - _self_

_target_: cellpoint.model.PQAEFinetune

optimizer_cfg:
  head_lr: 0.001
  extractor_lr: 1e-5
  min_lr: 1e-6
  weight_decay: 0.05
  epochs: 500
  unfreeze_extractor_epoch: 50

ckpt_path: null # loading the whole model, for resuming training
extractor_ckpt_path: ??? # loading pretrained extractor only, for transfer learning