defaults:
  - model/share@share
  - model/extractor@extractor
  - model/classification_head@classification_head
  - model/accuracy@metrics.train_acc
  - model/accuracy@metrics.val_acc
  - transform/finetune@transform
  - _self_

_target_: cellpoint.model.PQAEFinetune

optimizer_cfg:
  head_lr: 5e-4
  extractor_lr: 5e-5
  min_lr: 1e-7
  weight_decay: 0.05
  epochs: 300
  unfreeze_extractor_epoch: 50
  warmup_epochs: 5
  warmup_lr_init: 1e-6  # warmup initial learning rate

ckpt_path: null # loading the whole model, for resuming training
extractor_ckpt_path: ??? # loading pretrained extractor only, for transfer learning