model_checkpoint_vote:
  _target_: pytorch_lightning.callbacks.ModelCheckpoint
  dirpath: "checkpoints"
  filename: "vote-epoch{epoch:03d}-acc{val/acc_vote:.4f}" 
  monitor: "val/acc_vote"
  mode: "max"
  save_top_k: 1
  save_last: false
  auto_insert_metric_name: false

model_checkpoint:
  _target_: pytorch_lightning.callbacks.ModelCheckpoint
  dirpath: "checkpoints"
  filename: "epoch{epoch:03d}-acc{val/acc:.4f}"
  monitor: "val/acc"
  mode: "max"
  save_top_k: 3
  save_last: true
  auto_insert_metric_name: false

lr_monitor:
  _target_: pytorch_lightning.callbacks.LearningRateMonitor
  logging_interval: "epoch"

rich_progress_bar:
  _target_: pytorch_lightning.callbacks.RichProgressBar
  refresh_rate: 1